* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1468d2;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-btn {
    padding: 10px 20px;
    background-color: #1468d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

#add-btn:hover {
    background-color: #0f4da6;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: #b0e3e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete-btn {
    background-color: #1468d2;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #0f4da6;
}
